extends ../main

block content

  h1(style="margin-bottom: 30px") Update Received

  p Hey #{ user.profile.name },

  p A new update has been posted for an idea you are subscribed to - <a style="color: #0B9BD0" href="#{ url }/idea/#{ idea.id }">#{ idea.title }</a>.
  
  br
  
  p "#{ update.text }" - Posted by #{ update._user.profile.name }

  br
  
  p If you no longer want to receive updates from this idea then just visit the idea page <a style="color: #0B9BD0" href="#{ url }/idea/#{ idea.id }">here</a> and unsubscribe.