extends ../main

block content

  h1(style="margin-bottom: 30px") Idea Created

  p Hey #{ user.profile.name },

  p Congratulations on starting your new idea - <a style="color: #0B9BD0" href="#{ url }/idea/#{ idea.id }/info">#{ idea.title }</a>.

  p Now you can start sharing your idea with friends, family and/or colleagues.

  p You should make sure to subscribe to your idea to receive updates, you can do this by vising the <a style="color: #0B9BD0" href="#{ url }/idea/#{ idea.id }/info">idea page</a> and hitting subscribe.

  p Starting an idea is an exciting process, if you are new to it and have any questions then reply to this email and we will be happy to help out.